.card-overlay {
  position: initial !important;
  border-radius: 0px !important;

  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    color: #fff;
  }

  .list-content {
    margin-top: 30px;
  }
}

ion-searchbar {
  --background: #fff;
  --border-radius: 50px;
  --placeholder-color: #9dc183;
  --icon-color: #9dc183;
}
