<ion-content class="bg-color-content" [scrollEvents]="true">
  <div class="inner-content">
    <div class="card-overlay">
      <ion-icon name="chevron-back-outline" routerLink="/signup" class="back-btn"></ion-icon>
      <h1>Patient List</h1>
      <ion-searchbar
        placeholder="Enter Patient Name"
        [(ngModel)]="searchTerm"
        animated="true">
      </ion-searchbar>

      <div class="list-content">
        <ion-item
          *ngFor="let patient of patients | filter:searchTerm"
          lines="none"
          button
          (click)="navigateToPatientInfo()"
        >
          <ion-avatar slot="start">
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
          <ion-label>{{patient.name}}</ion-label>
          <ion-label>{{patient.age}}</ion-label>
          <!-- <ion-label>{{patient.address}}</ion-label> -->
          <!-- <ion-label>{{patient.height}}</ion-label> -->
          <!-- <ion-label>{{patient.contact_no}}</ion-label> -->
          <!-- <ion-label>{{patient.blood_group}}</ion-label> -->
          <!-- <ion-label>{{patient.remarks}}</ion-label> -->
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
