<ion-content class="bg-color-content">
  <div class="inner-content">
    <div class="relative-content">
      <img src="assets/images/welcome-caregiver.jpeg" class="bg-img"/>
      <div class="color-overlay"></div>
    </div>
    <div class="card-overlay">
      <h1>Welcome Caregiver</h1>
      <form>
        <ion-list>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">EMAIL</ion-label>
            <ion-input autocomplete="off" type="email" name="email"></ion-input>
          </ion-item>
    
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">PASSWORD</ion-label>
            <ion-input autocomplete="off" type="password" name="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" share="round" (click)="loginAction()">SIGN IN</ion-button>
        
      </form>
      <div class="link-content">
        <a routerLink='/signup'>Don't have an account? Create Account</a>
      </div>
    </div>
  </div>
</ion-content>
