<ion-content class="bg-color-content">
  <div class="inner-content">
    <div class="card-overlay">
      <!-- <ion-icon name="chevron-back-outline" routerLink="/signup" class="back-btn"></ion-icon> -->
      <h1>Add Patient Information</h1>
      <p>Basic Information</p>
      <form>
        <ion-list>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">FULL NAME</ion-label>
            <ion-input [(ngModel)]="name" placeholder="Enter your name"autocomplete="off" name="fname" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">WEIGHT</ion-label>
            <ion-input [(ngModel)]="weight" placeholder="Enter your weight in kg" autocomplete="off" name="weight" type="number"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">HEIGHT</ion-label>
            <ion-input [(ngModel)]="height" placeholder="Enter your height in cm" autocomplete="off" name="height" type="number"></ion-input>
          </ion-item>
          <p>Medical Information</p>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">BLOOD GROUP</ion-label>
            <ion-input [(ngModel)]="group" placeholder="Enter your blood group" autocomplete="off" name="group" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">BLOOD PRESSURE</ion-label>
            <ion-input [(ngModel)]="pressure" placeholder="Enter your blood pressure"autocomplete="off" name="pressure" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">RESPIRATOTY RATE</ion-label>
            <ion-input [(ngModel)]="respiratory" placeholder="Enter your respiratory rate" autocomplete="off" name="respiratory" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">BLOOD OXYGEN LEVEL</ion-label>
            <ion-input [(ngModel)]="oxygen" placeholder="Enter your oxygen level" autocomplete="off" name="oxygen" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">HEART BEAT RATE</ion-label>
            <ion-input [(ngModel)]="heartbeat" placeholder="Enter your heartbeat rate" autocomplete="off" name="heartbeat" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">MEDICAL CONDITION 1</ion-label>
            <ion-input [(ngModel)]="condition1" placeholder="Enter your medical condition" autocomplete="off" name="condition1" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">MEDICAL CONDITION 2</ion-label>
            <ion-input [(ngModel)]="condition2" placeholder="Enter your medical condition" autocomplete="off" name="condition2" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">MEDICAL CONDITION 3</ion-label>
            <ion-input [(ngModel)]="condition3" placeholder="Enter your medical condition" autocomplete="off" name="condition3" type="text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" share="round" (click)="addpatientinfo()">DONE</ion-button>
      </form>
    </div>
  </div>
</ion-content>
