.card-overlay {
    position: initial !important;
    border-radius: 0px !important;

    h1 {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    p {
        color: #fff;
    }

}