<ion-content class="bg-color-content">
  <div class="inner-content">
    <div class="card-overlay">
      <ion-icon name="chevron-back-outline" routerLink="/signup" class="back-btn"></ion-icon>
      <h1>Add New Patient</h1>
      <p>Basic Information</p>
      <form>
        <ion-list>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">NAME</ion-label>
            <ion-input autocomplete="off" name="name" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">ADDRESS</ion-label>
            <ion-input autocomplete="off" name="address" type="text"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-label position="stacked">EMAIL</ion-label>
            <ion-input autocomplete="off" name="email" type="email"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">PHONE</ion-label>
            <ion-input autocomplete="off" name="phone" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">EMERGENCY CONTACT</ion-label>
            <ion-input autocomplete="off" name="emergency contact" type="number"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" share="round" (click)="addnewpatient()"
          >REGISTER A PATIENT</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
