<ion-content class="bg-color-content">
  <div class="inner-content">
    <div class="relative-content">
      <img src="assets/images/logo-caregiver.jpeg" class="bg-img"/>
      <div class="color-overlay"></div>
      <div class="absolute-content">
        <img src="assets/images/logo.png" class="logo"/>
      </div>
    </div>
    <div class="card-overlay">
      <ion-button expand="block" share="round" (click)="navigateToLoginPage()">LOGIN AS A CAREGIVER</ion-button>
    </div>
  </div>
</ion-content>

  