<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="addnewpatient">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Add New Patient</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patientinfo">
      <ion-icon name="information-outline"></ion-icon>
      <ion-label>Patient Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patientlist">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Patient List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addpatientinfo">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Add New Patient Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patientrecord">
      <ion-icon name="recording-outline"></ion-icon>
      <ion-label>Patient Record</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
