<ion-content *ngIf="patientDetails" class="bg-color-content" [scrollEvents]="true">
  <div class="inner-content">
    <div class="relative-content">
      <ion-icon name="chevron-back-outline" routerLink="/signup" class="back-btn"></ion-icon>
      <img src="assets/images/welcome-caregiver.jpeg" class="bg-img" />
      <div class="color-overlay"></div>
    </div>

    <div class="card-overlay">
      <h1>Patient Information</h1>

      <ion-list>
        <ion-item lines="none">
          <ion-label>Name <br />{{this.patientDetails.name}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>EMAIL <br />aishwaryashrestha@gmail.com</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>ADDRESS<br />{{this.patientDetails.address}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Phone<br />{{this.patientDetails.contact_no}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Emergency Contact<br />6478900998</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Caregiver<br />Not Assigned</ion-label>
          <ion-label class="badge-btn">ADMIN</ion-label>
        </ion-item>
      </ion-list>

      <ion-button expand="block" class="border-btn">MESSAGE</ion-button>

      <ion-button expand="block" class="filled-btn">VIEW PATIENT RECORD</ion-button>
    </div>
  </div>
</ion-content>
